openapi: 3.2.0
info:
  title: CaaMTech WordPress REST Wp Block Editor/v1 API
  version: wp/v2
  summary: The public WordPress REST API served by caam.tech.
  description: Machine-readable description of the REST API that caam.tech serves at /wp-json/.
  x-provenance:
    method: derived
    source: https://caam.tech/wp-json/
    derived_from: openapi/caamtech-wordpress-rest-routes-original.json
    derived_by: API Evangelist enrichment pipeline
    generated: '2026-08-08'
    provider_authored: false
servers:
- url: https://caam.tech/wp-json
  description: WordPress REST API root on caam.tech
tags:
- name: wp-block-editor/v1
paths:
  /wp-block-editor/v1:
    get:
      operationId: get_wp_block_editor_v1
      summary: GET /wp-block-editor/v1
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wp-block-editor/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /wp-block-editor/v1/url-details:
    get:
      operationId: get_wp_block_editor_v1_url_details
      summary: GET /wp-block-editor/v1/url-details
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL to process.
  /wp-block-editor/v1/export:
    get:
      operationId: get_wp_block_editor_v1_export
      summary: GET /wp-block-editor/v1/export
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wp-block-editor/v1/navigation-fallback:
    get:
      operationId: get_wp_block_editor_v1_navigation_fallback
      summary: GET /wp-block-editor/v1/navigation-fallback
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
components:
  schemas:
    WPRestError:
      type: object
      description: The WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (HTTP Basic). The site advertises the authorization endpoint at https://caam.tech/wp-admin/authorize-application.php
    cookieAuth:
      type: apiKey
      in: cookie
      name: wordpress_logged_in
      description: WordPress logged-in cookie plus an X-WP-Nonce header (first-party only).
