openapi: 3.2.0
info:
  title: CaaMTech WordPress REST Oembed/1.0 API
  version: wp/v2
  summary: The public WordPress REST API served by caam.tech.
  description: 'Machine-readable description of the REST API that caam.tech serves at /wp-json/. CaaMTech publishes no developer program and no product API; this is the standard WordPress REST API exposed by the company web site, which does make the company''s published research updates, pages, categories and media programmatically readable without credentials.


    PROVENANCE: this document was DERIVED by API Evangelist from the discovery document the site itself publishes at https://caam.tech/wp-json/ (saved verbatim alongside as caamtech-wordpress-rest-routes-original.json). Every path, method, parameter name, type, enum and default below is copied from that document. CaaMTech did not author or publish this OpenAPI. Response schemas are not described in the WordPress discovery document and are therefore left open rather than invented.'
  x-provenance:
    method: derived
    source: https://caam.tech/wp-json/
    derived_from: openapi/caamtech-wordpress-rest-routes-original.json
    derived_by: API Evangelist enrichment pipeline
    generated: '2026-08-08'
    provider_authored: false
servers:
- url: https://caam.tech/wp-json
  description: WordPress REST API root on caam.tech
tags:
- name: oembed/1.0
paths:
  /oembed/1.0:
    get:
      operationId: get_oembed_1_0
      summary: GET /oembed/1.0
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: oembed/1.0
      - name: context
        in: query
        required: false
        schema:
          default: view
  /oembed/1.0/embed:
    get:
      operationId: get_oembed_1_0_embed
      summary: GET /oembed/1.0/embed
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          default: 600
  /oembed/1.0/proxy:
    get:
      operationId: get_oembed_1_0_proxy
      summary: GET /oembed/1.0/proxy
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        description: The oEmbed format to use.
      - name: maxwidth
        in: query
        required: false
        schema:
          type: integer
          default: 600
        description: The maximum width of the embed frame in pixels.
      - name: maxheight
        in: query
        required: false
        schema:
          type: integer
        description: The maximum height of the embed frame in pixels.
      - name: discover
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to perform an oEmbed discovery request for unsanctioned providers.
components:
  schemas:
    WPRestError:
      type: object
      description: The WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (HTTP Basic). The site advertises the authorization endpoint at https://caam.tech/wp-admin/authorize-application.php
    cookieAuth:
      type: apiKey
      in: cookie
      name: wordpress_logged_in
      description: WordPress logged-in cookie plus an X-WP-Nonce header (first-party only).
