openapi: 3.2.0
info:
  title: CaaMTech WordPress REST Wpforms/v1 API
  version: wp/v2
  summary: The public WordPress REST API served by caam.tech.
  description: 'Machine-readable description of the REST API that caam.tech serves at /wp-json/. CaaMTech publishes no developer program and no product API; this is the standard WordPress REST API exposed by the company web site, which does make the company''s published research updates, pages, categories and media programmatically readable without credentials.


    PROVENANCE: this document was DERIVED by API Evangelist from the discovery document the site itself publishes at https://caam.tech/wp-json/ (saved verbatim alongside as caamtech-wordpress-rest-routes-original.json). Every path, method, parameter name, type, enum and default below is copied from that document. CaaMTech did not author or publish this OpenAPI. Response schemas are not described in the WordPress discovery document and are therefore left open rather than invented.'
  x-provenance:
    method: derived
    source: https://caam.tech/wp-json/
    derived_from: openapi/caamtech-wordpress-rest-routes-original.json
    derived_by: API Evangelist enrichment pipeline
    generated: '2026-08-08'
    provider_authored: false
servers:
- url: https://caam.tech/wp-json
  description: WordPress REST API root on caam.tech
tags:
- name: wpforms/v1
paths:
  /wpforms/v1:
    get:
      operationId: get_wpforms_v1
      summary: GET /wpforms/v1
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wpforms/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /wpforms/v1/setup-wizard/hydrate:
    get:
      operationId: get_wpforms_v1_setup_wizard_hydrate
      summary: GET /wpforms/v1/setup-wizard/hydrate
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpforms/v1/setup-wizard/update:
    post:
      operationId: post_wpforms_v1_setup_wizard_update
      summary: POST /wpforms/v1/setup-wizard/update
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      security:
      - applicationPassword: []
      - cookieAuth: []
  /wpforms/v1/setup-wizard/install-plugins:
    post:
      operationId: post_wpforms_v1_setup_wizard_install_plugins
      summary: POST /wpforms/v1/setup-wizard/install-plugins
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  default: []
                  items:
                    type: string
              required:
              - plugins
      security:
      - applicationPassword: []
      - cookieAuth: []
  /wpforms/v1/setup-wizard/complete:
    post:
      operationId: post_wpforms_v1_setup_wizard_complete
      summary: POST /wpforms/v1/setup-wizard/complete
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                outcome:
                  type: string
                  enum:
                  - build
                  - import
                  - exit
                  - forms
                  default: build
      security:
      - applicationPassword: []
      - cookieAuth: []
  /wpforms/v1/setup-wizard/stripe/connect-url:
    post:
      operationId: post_wpforms_v1_setup_wizard_stripe_connect_url
      summary: POST /wpforms/v1/setup-wizard/stripe/connect-url
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      security:
      - applicationPassword: []
      - cookieAuth: []
  /wpforms/v1/setup-wizard/license/key:
    get:
      operationId: get_wpforms_v1_setup_wizard_license_key
      summary: GET /wpforms/v1/setup-wizard/license/key
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wpforms/v1/setup-wizard/license/verify:
    post:
      operationId: post_wpforms_v1_setup_wizard_license_verify
      summary: POST /wpforms/v1/setup-wizard/license/verify
      tags:
      - wpforms/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route was found matching the URL and request method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
              required:
              - key
      security:
      - applicationPassword: []
      - cookieAuth: []
components:
  schemas:
    WPRestError:
      type: object
      description: The WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (HTTP Basic). The site advertises the authorization endpoint at https://caam.tech/wp-admin/authorize-application.php
    cookieAuth:
      type: apiKey
      in: cookie
      name: wordpress_logged_in
      description: WordPress logged-in cookie plus an X-WP-Nonce header (first-party only).
